* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* 320 / 480 */
  /* min-width: 20rem;
  max-width: 30rem;
  */
  height: 100vh;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  /* background: url('/src/assets/background/tictactoe4.png')
    no-repeat center / cover;

  background-size: 100% auto; */
  /* background: url('/src/assets/background/tictactoe4.png')
    no-repeat center center fixed;
  background-size: cover; */
}

/* ********** Container ********** */

#root {
  /* width: 300px;
  height: 520px; */

  width: min(90vw, 280px);
  height: auto;
  margin: 0 0 2rem;

  display: flex;
  justify-content: center;

  /* background-color: var(--fitfh-color); */
}

/* Container hijo Boad */

.board {
  width: 96%;
  margin: 1rem 0;

  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
  /* align-items: flex-start; */

  /* background-color: var(--red-logo); */
}

/* ********** Logo ********** */
.board .logo {
  width: 100%;
}

/* ********** Levels ********** */

.board .levels {
  /* width: fit-content; */
  margin: 0 0.5rem;

  display: flex;
  justify-content: center;
  /* align-self: center; */

  gap: 2.5rem;

  /* background-color: var(--third-color); */
}

.board .levels .box {
  /* width: fit-content; */
  padding: 0.25rem 0.5rem;

  border-radius: 2rem;
  border: 2px solid var(--fourth-color);
  /* background-color: var(--third-color); */

  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: bold;
  user-select: none;
}

.board .levels .box:hover {
  border-color: var(--fitfh-color);
  color: var(--fourth-color);
  background-color: var(--second-color);
}

.levels .box.active-level {
  /* background: #00b894; */
  /* border-color: #00b894; */

  color: var(--fourth-color);
  /* background-color: var(--first-color); */

  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 2px solid var(--fourth-color);

  transform: scale(1.05);
}

/* ********** Game ********** */

.board .game {
  /* width: 96%; */
  /* height: 44vh; */
  /* max-height: 420px; */

  /* width: 100%; */

  aspect-ratio: 1 / 1;
  margin: 1rem 0.5rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* grid-template-columns: repeat(
    auto-fit,
    minmax(min(80px, 100%), 1fr)
    ); */
  gap: 0.5rem;

  /* background-color: var(--fitfh-color); */
}

.board .game4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  gap: 10px;
}

.board .game5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);

  gap: 10px;
}

.square {
  /* width: auto;
  height: 100%; */
  border: 2px solid #eee;
  /* border-radius: 5px; */

  /* display: grid;
  place-items: center; */
  display: flex;
  justify-content: center;
  align-items: center;

  /* background: rgba(255, 255, 255, 0.1); */
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: transform 0.2s ease;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  /* font-size: 48px; */

  border-radius: 0.3rem;
  font-size: clamp(1rem, 4vw, 2rem);
}

.square:hover {
  transform: scale(1.05);
}

.square .character-icon {
  width: 70%;
  height: 70%;

  object-fit: contain;
}

/* .square.is-selected {
  color: #fff;
  background: #09f;
} */

/* ********** Options ********** */

.board .options {
  margin: 1rem 0.5rem;
  /* margin: 1rem 0.5rem 0.5rem; */

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
  /* background-color: var(--third-color); */
}

.options .character-selector {
  position: relative;
  width: 80px;
  height: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
  perspective: 1000px;
}

.character-current,
.character-next {
  position: absolute;
  width: 100%;
  height: 100%;

  transition: transform 0.3s ease, opacity 0.3s ease;

  /* background-color: var(--second-color); */
}

.character-current img,
.character-next img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.character-next {
  width: 50%;
  height: 50%;

  bottom: 1rem;

  transform: translateY(20px) scale(0.9);
  opacity: 0;
  pointer-events: none;
}

/* 👇 Efecto de salto al pasar el mouse */
.character-selector:hover .character-current {
  transform: translateY(-10px);
}

.character-selector:hover .character-next {
  transform: translateY(0) scale(1);
  opacity: 0.6;
}

.label {
  /* width: 80px; */
  /* padding: 0.1rem; */
  margin-top: 80px;

  color: #fff;
  text-shadow: 1px 1px 2px #000;

  font-family: 'DynaPuff_SemiCondensed-Bold', sans-serif;
  font-size: 14px;
  text-align: center;
  border-radius: 0.2rem;

  /* background-color: var(--third-color); */
  background: rgba(0, 0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.board .reset {
  width: fit-content;
  /* max-width: 130px; */
  height: fit-content;
  padding: 8px 12px;
  /* margin: 25px; */

  border-radius: 6px;
  border: 2px solid #eee;
  color: #eee;
  background: transparent;

  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
}

/* .board button:hover {
  color: #222;
  background: #eee;
} */

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner .text {
  height: 300px;
  width: 320px;
  border: 2px solid #eee;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1rem);
  /* para compatibilidad */
  -webkit-backdrop-filter: blur(1rem);

  gap: 20px;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}

.winner-icon {
  width: 100px;
  height: 100px;
  object-fit: contain;
  animation: bounce 0.8s ease infinite alternate;
}

.modal-reset button {
  padding: 8px 12px;
  /* margin: 25px; */

  border-radius: 0.5rem;
  border: 2px solid var(--fourth-color);
  color: var(--fourth-color);
  background: transparent;

  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;

  background-color: var(--second-color);
}

.modal-reset button:hover {
  background-color: var(--first-color);
  /* color: var(--fitfh-color); */
  border: 2px solid var(--fitfh-color);
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

/* 
https://es.textstudio.com/logo/parodia-de-super-mario-599

Texto:
Espaciado entre caracteres 0
Altura de línea 78

Estilos:
Boggle - Ángulo 0
Amplitude 12
*/
