@media (min-width: 480px) {
  body {
    /* background: url('/src/assets/background/tictactoe4.png')
      no-repeat center center fixed; */

    /* background-size: cover; */
    /* background-size: 70% auto; */
  }
  
  #root {
    width: 300px;
  }

  .board .logo {
    width: 100%;
  }
}
