:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  /* font-family: 'DynaPuff_SemiCondensed-Bold', sans-serif; */
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #090b10;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --first-color: #090b10;
  --second-color: #0f111a;
  --third-color: #4f46e5;
  --fourth-color: #cbd5e1;
  --fitfh-color: #55667c;
  --red-logo: #ea0031;

  --light-blue-color: rgb(0, 156, 218);
  --yellow-color: rgb(252, 208, 0);
  --red-color: rgb(231, 30, 7);
  --green-color: rgb(66, 177, 50);
}

@font-face {
  font-family: 'DynaPuff';
  src: url('../assets/fonts/DynaPuff_SemiCondensed-Bold.ttf')
    format('truetype');
  font-weight: bold;
  font-style: normal;
}
