:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: #090b10;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --first-color: #090b10;
  --second-color: #0f111a;
  --third-color: #4f46e5;
  --fourth-color: #cbd5e1;
  --fitfh-color: #55667c;
  --red-logo: #ea0031;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;

  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('assets/background/tictactoe-opt-desktop.png')
    no-repeat center / cover;

  /* object-fit: cover; */
  background-size: 50% auto;
}

.board {
  width: fit-content;
  margin: 40px auto;
  text-align: center;
}

/* .board h1 {
  color: #eee;
  margin-bottom: 16px;
} */

.board .game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* grid-template-columns: repeat(
    auto-fit,
    minmax(min(80px, 100%), 1fr)
  ); */
  gap: 10px;
}

.board .game4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 10px;
}

.board .game5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  gap: 10px;
}

.square {
  width: 100px;
  height: 100px;
  border: 2px solid #eee;
  border-radius: 5px;

  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 48px;
}

.game .square,
.game4 .square,
.game5 .square {
  width: 6vw;
  height: 6vw;
  /* Testing */
  /* background: rgba(255, 255, 255, 0.1); */
  background: rgba(0, 0, 0, 0.1);
  /* el efecto de "vidrio" */
  backdrop-filter: blur(10px);
  /* para compatibilidad */
  -webkit-backdrop-filter: blur(10px);

  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
}

.turn {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  width: fit-content;
  position: relative;
  border-radius: 10px;
}

.turn .square,
.winner .square {
  width: 70px;
  height: 70px;
  pointer-events: none;
  border-color: transparent;
}

.square.is-selected {
  color: #fff;
  background: #09f;
}

.board button {
  padding: 8px 12px;
  margin: 25px;
  background: transparent;
  border: 2px solid #eee;
  color: #eee;
  width: 100px;
  border-radius: 5px;
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
}

.board button:hover {
  background: #eee;
  color: #222;
}

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner .text {
  height: 300px;
  width: 320px;
  border: 2px solid #eee;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1rem);
  /* para compatibilidad */
  -webkit-backdrop-filter: blur(1rem);

  gap: 20px;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}

/* 
https://es.textstudio.com/logo/parodia-de-super-mario-599

Texto:
Espaciado entre caracteres 0
Altura de línea 78

Estilos:
Boggle - Ángulo 0
Amplitude 12
*/
